<div class="container">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <md-card class="user-login-card">
            <md-card-header>
                <md-card-title>Login</md-card-title>
                <md-card-subtitle>Login Basic Angular 4 template.</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <div class="container">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                            <md-input-container>
                                <input mdInput placeholder="Username" value="username" [(ngModel)]="username">
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container>
                                <input mdInput placeholder="Password" type="password" value="password" [(ngModel)]="password">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3"></div>
                </div>
            </md-card-content>
            <md-card-actions>
                <div class="container" style="margin-bottom:20px;">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-3 col-sm-3">
                        <button md-raised-button style="width:100%;" (click)="Inloggen()">Inloggen</button>
                    </div>
                    <div class="col-md-3 col-sm-3"></div>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    <div class="col-md-2"></div>
</div>